<footer>
    <hr style="margin-top: 50px; margin-bottom: 30px" />
    <div class="row">
        <div class="col-md-4">
            <h3>About</h3>
            <p>
                Buy and sell valuable objects through auctions on our platform.
                We offer a safe and transparent experience for users to connect
                with interested buyers and sellers. Thank you for choosing us,
                and we look forward to helping you find your next treasure!
            </p>
        </div>
        <div class="col-md-4">
            <h3>Contact Us</h3>
            <p>
                Email:
                <a href="mailto: vintagesalepublic@gmail.com" class="text-muted"
                    >vintagesalemail@gmail.com</a
                >
            </p>
            <p>Phone: +213 667 69 49 20</p>
        </div>
        <div class="col-md-4">
            <h3>Links</h3>
            <p><a href="/faqs" class="text-muted">FAQs</a></p>
            <p><a href="/terms-of-use" class="text-muted">Terms of Use</a></p>
            <p>
                <a href="/privacy-policy" class="text-muted">Privacy Policy</a>
            </p>
        </div>
    </div>
</footer>
