<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3">
                <i class="fas fa-key"></i> Password Reset
            </h1>
            <%- include ("./partials/messages"); %>
            <form action="/auth/password-reset/<%= token %>" method="POST">
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input
                        type="password"
                        id="password"
                        name="password"
                        class="form-control"
                        placeholder="Enter New Password"
                        required
                    />
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input
                        type="password"
                        id="confirmPassword"
                        name="confirmPassword"
                        class="form-control"
                        placeholder="Confirm New Password"
                        required
                    />
                </div>
                <br />
                <button type="submit" class="btn btn-primary btn-block">
                    Reset Password
                </button>
            </form>
        </div>
    </div>
</div>
